body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  border: 5px solid #008751; /* Nigerian green */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header, section, footer {
  margin-bottom: 40px;
}

h1, h2 {
  color: #008751;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #008751;
  color: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.footer {
  background-color: #008751;
  color: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}
